@charset "utf-8";
// Base
@import 'base';
//Components
@import 'components/link';
@import 'components/title';
@import 'components/card';

//FOUC Prevention
@import 'nofouc';

.hero {
    min-height         : 400px;
    background-size    : cover;
    background-position: center center;
    margin-bottom      : 32px;
}

.header {
    text-align   : center;
    margin-bottom: 0;

    img {
        position: relative;
        top     : 80px;

    }
}

section {
    margin-bottom: 32px;

    > .title {
        text-transform: uppercase;
        font-weight   : map-get($Foundations_Fontweights,"Bold");
    }

    &.tours {
        .card:not(:last-of-type) {
            margin-bottom: 24px;

        }
    }
}
